In [2]:
from pyFTracks.ressources import Miller

In [3]:
Miller

    Ns  Ni   A     Ns/Ni      RhoS      RhoI        Ages  Ages Errors
0   31  41  40  0.756098  0.861111  1.138889  170.272777    40.938206
1   19  22  20  0.863636  1.055556  1.222222  194.129222    61.156267
2   56  63  60  0.888889  1.037037  1.166667  199.718474    37.303586
3   67  71  80  0.943662  0.930556  0.986111  211.825011    36.791026
4   88  90  90  0.977778  1.086420  1.111111  219.354179    33.720434
5    6   7  15  0.857143  0.444444  0.518519  192.691202   107.403652
6   18  14  20  1.285714  1.000000  0.777778  286.919063   102.707829
7   40  41  40  0.975610  1.111111  1.138889  218.875970    49.209223
8   36  49  40  0.734694  1.000000  1.361111  165.514024    36.766051
9   54  79  60  0.683544  1.000000  1.462963  154.127518    27.714542
10  35  52  40  0.673077  0.972222  1.444444  151.794873    33.587209
11  52  76  70  0.684211  0.825397  1.206349  154.275956    28.256344
12  51  74  49  0.689189  1.156463  1.678005  155.385125    28.768616
13  47  66  50  0.712121  1.044444  1.466667  160.491558    31.114275
14  27  39  36  0.692308  0.833333  1.203704  156.079781    39.434473
15  36  44  40  0.818182  1.000000  1.222222  184.056340    41.834664
16  64  86  50  0.744186  1.422222  1.911111  167.624884    28.253537
17  68  90  50  0.755556  1.511111  2.000000  170.152315    27.945372
18  61  91  60  0.670330  1.129630  1.685185  151.182510    25.540172
19  30  41  30  0.731707  1.111111  1.518519  164.849733    40.001291

In [6]:
Ns = Miller["Ns"]
Ni = Miller["Ni"]

zeta = 350.
zeta_err = 10. / 350.

rhod = 1.304
rhod_err = 0
Nd = 2936

In [7]:
from pyFTracks.age_calculations import calculate_central_age
from pyFTracks.age_calculations import calculate_pooled_age
from pyFTracks.age_calculations import calculate_ages

In [8]:
calculate_central_age(Ns, Ni, zeta, zeta_err, rhod, Nd)

{'Central': 175.5672998835018,
 'se': 8.510137020148957,
 'sigma': 5.1978616298287776e-05}

In [9]:
calculate_pooled_age(Ns, Ni, zeta, zeta_err, rhod, Nd)

{'Pooled Age': 175.56729987574315, 'se': 9.878490119317705}

In [10]:
calculate_ages(Ns, Ni, zeta, zeta_err, rhod, Nd)

{'Age(s)': array([170.27277726, 194.12922188, 199.71847392, 211.82501094,
        219.35417906, 192.69120201, 286.91906312, 218.87597033,
        165.51402406, 154.12751783, 151.7948727 , 154.27595627,
        155.38512454, 160.49155828, 156.07978109, 184.05633985,
        167.62488355, 170.15231471, 151.18251036, 164.84973261]),
 'se(s)': array([ 40.93820562,  61.15626671,  37.30358567,  36.79102639,
         33.72043367, 107.40365187, 102.70782874,  49.20922289,
         36.7660512 ,  27.71454167,  33.5872093 ,  28.25634367,
         28.7686159 ,  31.11427488,  39.43447289,  41.83466447,
         28.25353735,  27.94537164,  25.54017193,  40.0012906 ])}

In [11]:
from pyFTracks.ressources import Gleadow

In [12]:
Ns = Gleadow["Ns"]
Ni = Gleadow["Ni"]
zeta = 380.
zeta_err = 5. / 380.

rhod = 1.257
rhod_err = 0
Nd = 8188

In [13]:
calculate_central_age(Ns, Ni, zeta, zeta_err, rhod, Nd)

{'Central': 94.09935886162337,
 'se': 10.157833459811043,
 'sigma': 0.446112700671759}

In [14]:
calculate_pooled_age(Ns, Ni, zeta, zeta_err, rhod, Nd)

{'Pooled Age': 124.98724612328856, 'se': 6.0944585636007576}

In [15]:
calculate_ages(Ns, Ni, zeta, zeta_err, rhod, Nd)

{'Age(s)': array([  0.        ,  43.27803705, 151.73374642, 118.32243524,
         30.54674248,  32.48573611, 118.32243524,  83.2599968 ,
         95.56075553,  67.87851655,  26.482197  ,  88.94480733,
        272.08754802,  92.0203823 ,  64.80858573, 138.97927265,
         94.83105306,  72.28064785,  23.8388675 ,  77.29336818,
         80.90943697, 132.37628366,  67.87851655,  75.70245065,
        130.43964242, 157.28550116,  59.43268641, 157.28550116,
        139.60420528, 140.85095558]),
 'se(s)': array([  0.        ,  33.27640223,  45.91421583, 102.49040302,
         10.27369072,  20.00137932,  72.48591729,  21.68585213,
         15.78285539,  54.43638673,  27.91839535,  42.6065056 ,
         25.44704475,  15.11733177,  42.22704272,  55.43841021,
         79.3580827 ,  31.22579735,  25.00577049,  23.82086375,
         24.23088369,  44.2469251 ,  27.23693002,  18.58068178,
         40.68337352,  34.92831442,  17.78825114,  82.94078305,
         48.89593844,  15.9753248 ])}