# The External Detector Method

# A typical dataset

We provide an example of fission-track counts obtained by Miller et al, 1995 using the external detector method.

In [1]:
from pyFTracks.ressources import Miller1995

In [2]:
Miller1995

,Grain,Ns (Number of spontaneous tracks),Ni (Number of induced tracks),Area (Number of graticules squares),$\zeta$ $\text{Ma} \times 10^{6} \text{cm}^{2}$,$\zeta$ rel. std. error,$N_d$,$\rho_d$ $10^6 \text{cm}^2$,Unit Area $10^6 \text{cm}^2$
0,1,31,41,40,350.0,0.028571,2936,1.304,0.9009
1,2,19,22,20,350.0,0.028571,2936,1.304,0.9009
2,3,56,63,60,350.0,0.028571,2936,1.304,0.9009
3,4,67,71,80,350.0,0.028571,2936,1.304,0.9009
4,5,88,90,90,350.0,0.028571,2936,1.304,0.9009
5,6,6,7,15,350.0,0.028571,2936,1.304,0.9009
6,7,18,14,20,350.0,0.028571,2936,1.304,0.9009
7,8,40,41,40,350.0,0.028571,2936,1.304,0.9009
8,9,36,49,40,350.0,0.028571,2936,1.304,0.9009
9,10,54,79,60,350.0,0.028571,2936,1.304,0.9009
10,11,35,52,40,350.0,0.028571,2936,1.304,0.9009
11,12,52,76,70,350.0,0.028571,2936,1.304,0.9009
12,13,51,74,49,350.0,0.028571,2936,1.304,0.9009
13,14,47,66,50,350.0,0.028571,2936,1.304,0.9009
14,15,27,39,36,350.0,0.028571,2936,1.304,0.9009
15,16,36,44,40,350.0,0.028571,2936,1.304,0.9009
16,17,64,86,50,350.0,0.028571,2936,1.304,0.9009
17,18,68,90,50,350.0,0.028571,2936,1.304,0.9009
18,19,61,91,60,350.0,0.028571,2936,1.304,0.9009
19,20,30,41,30,350.0,0.028571,2936,1.304,0.9009

The table presents counts and counting areas from 20 apatite grain separated from a rock sample with an age of 162Ma independently determined using the $^{40}\text{Ar}^{39}\text{Ar}$ method.

In [3]:
data = Miller1995.iloc[:, :4]
data.columns = ["Grain", "Ns", "Ni", "A"]

In [4]:
data

    Grain  Ns  Ni   A
0       1  31  41  40
1       2  19  22  20
2       3  56  63  60
3       4  67  71  80
4       5  88  90  90
5       6   6   7  15
6       7  18  14  20
7       8  40  41  40
8       9  36  49  40
9      10  54  79  60
10     11  35  52  40
11     12  52  76  70
12     13  51  74  49
13     14  47  66  50
14     15  27  39  36
15     16  36  44  40
16     17  64  86  50
17     18  68  90  50
18     19  61  91  60
19     20  30  41  30

## Fission Track Age (Zeta ($\zeta$) method)

The fission-track age equation expressed using the analyst $\zeta$ value as the form:

$$t = \frac{1}{\lambda} \log \left( 1 + \frac{1}{2} \lambda \zeta \rho_d \frac{\rho_s}{\rho_i} \right)$$

Where $\zeta$ is a constant determined empirically using standards of known ages and is specific to the person counting the tracks.

The track densities $\rho_s$ and $\rho_i$ can be estimated using the number of tracks counted $N_s$ and $N_i$ over an area $A$.

$$\hat{\rho_s} = \frac{N_s}{A} \space\text{and}\space \hat{\rho_i} = \frac{N_i}{A}$$

Subsituting gives the following equation:

$$t = \frac{1}{\lambda} \log \left( 1 + \frac{1}{2} \lambda \zeta \rho_d \frac{N_s}{N_i} \right)$$

In [5]:
import numpy as np
rho_d = 1.304
zeta = 350.
lbd = 1.55125e-4
data["age"] = 1.0 / lbd * np.log(1.0 + 0.5 * lbd * zeta * rho_d * data["Ns"] / data["Ni"] )

/usr/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [6]:
data

    Grain  Ns  Ni   A         age
0       1  31  41  40  170.272777
1       2  19  22  20  194.129222
2       3  56  63  60  199.718474
3       4  67  71  80  211.825011
4       5  88  90  90  219.354179
5       6   6   7  15  192.691202
6       7  18  14  20  286.919063
7       8  40  41  40  218.875970
8       9  36  49  40  165.514024
9      10  54  79  60  154.127518
10     11  35  52  40  151.794873
11     12  52  76  70  154.275956
12     13  51  74  49  155.385125
13     14  47  66  50  160.491558
14     15  27  39  36  156.079781
15     16  36  44  40  184.056340
16     17  64  86  50  167.624884
17     18  68  90  50  170.152315
18     19  61  91  60  151.182510
19     20  30  41  30  164.849733

The approximate relative standard error is given by

$$\frac{se(t)}{t}\approx \left( \frac{1}{N_s} + \frac{1}{N_i} + \frac{1}{N_d} + \left(\frac{se(\zeta)}{\zeta}\right)^2 \right)^{\frac{1}{2}}$$

In [7]:
Nd = 2936
zeta_err = 10. / 350.
data["rse"] = (1 / data["Ns"] + 1 / data["Ni"] + 1 / Nd + zeta_err**2)**0.5
data["se"] = data["rse"] * data["age"]

/usr/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [8]:
data

    Grain  Ns  Ni   A         age       rse          se
0       1  31  41  40  170.272777  0.240427   40.938206
1       2  19  22  20  194.129222  0.315029   61.156267
2       3  56  63  60  199.718474  0.186781   37.303586
3       4  67  71  80  211.825011  0.173686   36.791026
4       5  88  90  90  219.354179  0.153726   33.720434
5       6   6   7  15  192.691202  0.557387  107.403652
6       7  18  14  20  286.919063  0.357968  102.707829
7       8  40  41  40  218.875970  0.224827   49.209223
8       9  36  49  40  165.514024  0.222133   36.766051
9      10  54  79  60  154.127518  0.179816   27.714542
10     11  35  52  40  151.794873  0.221267   33.587209
11     12  52  76  70  154.275956  0.183155   28.256344
12     13  51  74  49  155.385125  0.185144   28.768616
13     14  47  66  50  160.491558  0.193869   31.114275
14     15  27  39  36  156.079781  0.252656   39.434473
15     16  36  44  40  184.056340  0.227293   41.834664
16     17  64  86  50  167.624884  0.168552   28.253537
17     18  68  90  50  170.152315  0.164237   27.945372
18     19  61  91  60  151.182510  0.168936   25.540172
19     20  30  41  30  164.849733  0.242653   40.001291

In [9]:
data["Ns/Ni"] = data["Ns"] / data["Ni"]
data["rhos"] = data["Ns"] / (data["A"] * 0.9009)
data["rhoi"] = data["Ni"] / (data["A"] * 0.9009)

/usr/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
data

,Grain,Ns,Ni,A,age,rse,se,Ns/Ni,rhos,rhoi
0,1,31,41,40,170.272777,0.240427,40.938206,0.756098,0.860251,1.137751
1,2,19,22,20,194.129222,0.315029,61.156267,0.863636,1.054501,1.221001
2,3,56,63,60,199.718474,0.186781,37.303586,0.888889,1.036001,1.165501
3,4,67,71,80,211.825011,0.173686,36.791026,0.943662,0.929626,0.985126
4,5,88,90,90,219.354179,0.153726,33.720434,0.977778,1.085334,1.110001
5,6,6,7,15,192.691202,0.557387,107.403652,0.857143,0.444000,0.518001
6,7,18,14,20,286.919063,0.357968,102.707829,1.285714,0.999001,0.777001
7,8,40,41,40,218.875970,0.224827,49.209223,0.975610,1.110001,1.137751
8,9,36,49,40,165.514024,0.222133,36.766051,0.734694,0.999001,1.359751
9,10,54,79,60,154.127518,0.179816,27.714542,0.683544,0.999001,1.461501
10,11,35,52,40,151.794873,0.221267,33.587209,0.673077,0.971251,1.443001
11,12,52,76,70,154.275956,0.183155,28.256344,0.684211,0.824572,1.205144
12,13,51,74,49,155.385125,0.185144,28.768616,0.689189,1.155307,1.676328
13,14,47,66,50,160.491558,0.193869,31.114275,0.712121,1.043401,1.465201
14,15,27,39,36,156.079781,0.252656,39.434473,0.692308,0.832501,1.202501
15,16,36,44,40,184.056340,0.227293,41.834664,0.818182,0.999001,1.221001
16,17,64,86,50,167.624884,0.168552,28.253537,0.744186,1.420801,1.909202
17,18,68,90,50,170.152315,0.164237,27.945372,0.755556,1.509602,1.998002
18,19,61,91,60,151.182510,0.168936,25.540172,0.670330,1.128501,1.683502
19,20,30,41,30,164.849733,0.242653,40.001291,0.731707,1.110001,1.517002

# Pooled Age

In [15]:
import numpy as np
rho_d = 1.304
zeta = 350.
lbd = 1.55125e-4
pooled_age = 1.0 / lbd * np.log(1.0 + 0.5 * lbd * zeta * rho_d * sum(data["Ns"]) / sum(data["Ni"]))
pooled_age_rse = (1 / sum(data["Ns"]) + 1 / sum(data["Ni"]) + 1 / Nd + zeta_err**2)**0.5
pooled_age_se = pooled_age_rse * pooled_age

In [16]:
pooled_age, pooled_age_se, pooled_age_rse

(175.56729987574315, 9.878490119317705, 0.056266116334358136)